

body
{
    margin: 0;
    padding:0;
    background-color: #c8c8c8;
    font-family: 'Roboto' sans-serif;
}

main
{
    margin: 0 auto;
    width: 78%;
}

h1
{
    font-family: 'Libre Baskerville', serif;  
    font-weight: bolder;
    text-align: center;
    font-size: 5em;
}

a
{
    color:  #CF0025;
    font-weight: bold;
}

main p:nth-of-type(1)
{
    margin-top: -30px;
}

h2
{
    color: #CF0025;
    font-family:'Libre Baskerville', serif;
    font-size: 2em;
    font-weight: bold;
}

/*Tableau*/

table
{
    border-spacing: 0;
}

thead
{
    background-color: #333333;    
    font-style: initial;
       
}

th
{
    text-align: center;
    color: white;
    height: 20px;
    padding: 10px; 
}

table td, table th
{
    padding-top: 10px;
    padding-bottom: 10px;
    
}

table td:nth-of-type(1)
{
    font-weight: bold;
    text-align: center;
}

tbody tr:nth-of-type(2n+1)
{
    background-color: #DDDDDD;
}

table tr:hover
{
    background-color: #999999;
    cursor: pointer;
}

/*Figure et image*/

figure
{
    background-color: #333333;
    width: 100%;
    margin:0px;
    margin-top: 15px;
    padding-top: 35px;
    border: 3px solid #CF0D30;
    border-radius: 20px;
} 

img
{
    display: block;
    margin:auto;
    width: 95%;
}

figcaption
{
    color: white;
    margin-top: 15px;
    margin-bottom: 35px;
    text-align: center;
}

#bas_page
{
    border: 2px dashed #5144AE;
    width: 80%;
    background-color: #B7B7B7;
    color: #5144AE;
    padding: 30px;
    display: block;
    margin:auto;
    font-size: 1.2em;
    line-height: 1.5em ;

}

