@font-face {font-family: "URW Baskerville W10 Ultra Bold";
    src: url("font/5770baa7788e08e9b8cf0195faa46e00.eot"); /* IE9*/
    src: url("font/5770baa7788e08e9b8cf0195faa46e00.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("font/5770baa7788e08e9b8cf0195faa46e00.woff2") format("woff2"), /* chrome、firefox */
    url("font/5770baa7788e08e9b8cf0195faa46e00.woff") format("woff"), /* chrome、firefox */
    url("font/5770baa7788e08e9b8cf0195faa46e00.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("font/5770baa7788e08e9b8cf0195faa46e00.svg#URW Baskerville W10 Ultra Bold") format("svg"); /* iOS 4.1- */
  }

body
{
    margin: 0;
    padding:0;
    background-color: #c8c8c8;
    font-family: Arial, Helvetica, sans-serif;
}

main
{
    margin: 0 auto;
    width: 78%;
}

h1
{
    font-family: "URW Baskerville W10 Ultra Bold";  
    text-align: center;
    font-size: 5em;
}

a
{
    color:  #CF0025;
    font-weight: bold;
}

main p:nth-of-type(1)
{
    margin-top: -30px;
}

h2
{
    color: #CF0025;
    font-family: "URW Baskerville W10 Ultra Bold", serif;
    font-size: 2em;
    font-weight: bold;
}

/*Tableau*/

table
{
    border-spacing: 0;
}

thead
{
    background-color: #333333;    
    font-style: initial;
       
}

th
{
    text-align: center;
    color: white;
    height: 20px;
    padding: 10px; 
}

table td, table th
{
    padding-top: 10px;
    padding-bottom: 10px;
    
}

table td:nth-of-type(1)
{
    font-weight: bold;
    text-align: center;
}

tbody tr:nth-of-type(2n+1)
{
    background-color: #DDDDDD;
}

table tr:hover
{
    background-color: #999999;
    cursor: pointer;
}

/*Figure et image*/

figure
{
    background-color: #333333;
    width: 100%;
    margin:0px;
    margin-top: 15px;
    padding-top: 35px;
    border: 3px solid #CF0D30;
    border-radius: 20px;
} 

img
{
    display: block;
    margin:auto;
    width: 95%;
}

figcaption
{
    color: white;
    margin-top: 15px;
    margin-bottom: 35px;
    text-align: center;
}

#bas_page
{
    border: 2px dashed #5144AE;
    width: 80%;
    background-color: #B7B7B7;
    color: #5144AE;
    padding: 20px;
    display: block;
    margin:auto;

}